PORT=3008
WS_PORT=8080
SIMULATOR_WS_URL=ws://localhost:8080
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
KINESIS_STREAM_NAME=SensorDataStream
DYNAMODB_TABLE_READINGS=SensorReadings
DYNAMODB_TABLE_ALARMS=Alarms
SIMULATOR_INTERVAL=3000
ANOMALY_WINDOW_MINUTES=5
